In [ ]:
#Read 2002FemResp.dat.gz

In [1]:
import FemRespMod

In [2]:
resp = FemRespMod.ReadFemResp()
resp.head()

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667

In [14]:
resp.count()

caseid         7643
rscrinf        7643
rdormres       7643
rostscrn       7643
rscreenhisp    7643
               ...
sest           7643
cmintvw        7643
cmlstyr        7643
screentime     7643
intvlngth      7643
Length: 3087, dtype: int64

In [17]:
assert len(resp) == 7643, "test failed"
print ("Test passed. The respondent dataset has 7643 observations.")

Test passed. The respond dataset has 7643 observations.

In [13]:
resp.pregnum.value_counts()[1]

1267

In [12]:
assert resp.pregnum.value_counts()[1] == 1267 , "test failed"
print ("Test passed. The pregnum from the respondent file equals 1267")

Test passed. The pregnum from the respondent file equals 1267

In [14]:
assert FemRespMod.ValidatePregnum(resp) , "test failed"
print ("Test passed. The pregnum from the respondent file equals the number of records in the pregnancy file")

Test passed. The pregnum from the respondent file equals the number of records in the pregnancy file